body {
  font-family: Helvetica, Arial, sans-serif;
}

pre {
  border-radius: 4px;
  color: white;
  background: #222222;
  padding: 10px;
}

.run-example {
  border-radius: 4px;
  padding: 10px;
  border: 1px dashed #222222;
}

main {
  margin: 0 auto;
  max-width: 40rem;
}

.esm-warning {
  margin: 0 auto;
  max-width: 40rem;
}
