:root {
  --cube-size: 300px;
  --cube-size-face-z: -150px;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  color: black;
}

pre {
  border-radius: 4px;
  padding: 10px;
}

.run-example {
  border-radius: 4px;
  padding: 10px;
  border: 1px dashed #222222;
}

main {
  margin: 0 auto;
  max-width: 40rem;
}

button {
  padding: 15px 10px;
  font-size: inherit;
}

a, button {
  min-height: 48px;
  min-width: 48px;
  cursor: pointer;
}

.esm-warning {
  margin: 0 auto;
  max-width: 40rem;
}

.code-example {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  color: white;
  background: #222222;
  border-radius: 4px;
  margin-bottom: 10px;
}

.code-example pre {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  overflow-x: scroll;
}

.code-example [role="tablist"] {
  color: black;
  border: 1px solid #222222;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: stretch;
  background: white;
}

.code-example [role="tablist"] button {
  border-radius: 0;
  border: none;
  z-index: 9;
  flex: 1;
  border-left: 1px solid #222222;
}

.code-example [role="tablist"] button:first-child {
  border-left: none;
  border-top-left-radius: 0;
}

.code-example [role="tablist"] button:last-child {
  border-top-right-radius: 0;
}

.code-example [role="tablist"] button:focus {
  z-index: 10;
}

.code-example [role="tablist"] button[aria-selected="true"] {
  background-color: #222222;
  color: white;
}

.code-example [role="tablist"] label {
  margin-right: 10px;
}

.cube {
  width: var(--cube-size);
  height: var(--cube-size);
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(var(--cube-size-face-z));
}

.cube-face-top,
.cube-face-bottom,
.cube-face-left,
.cube-face-right,
.cube-face-front,
.cube-face-back {
  position: absolute;
  width: var(--cube-size);
  height: var(--cube-size);
  border: 1px solid olivedrab;
  background-color: rgba(95,158,160,0.3);
}

.cube-face-top {
  transform: rotateX(90deg) translateZ(var(--cube-size-face-z));
}
.cube-face-bottom {
  transform: rotateX(-90deg) translateZ(var(--cube-size-face-z));
}
.cube-face-left {
  transform: rotateY(-90deg) translateZ(var(--cube-size-face-z));
}
.cube-face-right {
  transform: rotateY(90deg) translateZ(var(--cube-size-face-z));
}
.cube-face-front {
  transform: rotateY(0deg) translateZ(var(--cube-size-face-z));
}
.cube-face-back {
  transform: rotateY(180deg) translateZ(var(--cube-size-face-z));
}

.cubes {
  position: relative;
  width: 100%;
  height: calc(var(--cube-size) * 2);
  min-width: calc(var(--cube-size) * 2);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding-top: calc(var(--cube-size) / 2);
  box-sizing: border-box;
}

.cubes .cube {
  position: absolute;
}


